
*{
    font-size: 16.2%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper div{
    border: 1px solid black;
    box-shadow: 1rem 1rem 3rem;
    margin: 5rem;
    width: 100rem;
    font-size: 20rem;
}
.wrapper div:hover{
    background-color: aquamarine;
    
}


.display{
    text-align: center;
    width: 100vw;
    font-size: 40rem;
    height: 100vh;
    top:0;
    left: 0;
    position: absolute;
    visibility:hidden ;
    background-color: aquamarine;
    
}
.show{
    visibility: visible;
}

h1{
    font-size: 15rem;
}
     